/* styles.module.css */

@media (min-width: 1200px) {
	.chatLeftsidebar {
		min-width: 380px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.chatLeftsidebar {
		min-width: 290px;
	}
}

.chatNotiDropdown {
	position: relative;
	z-index: 2;
}

.chatNotiDropdownActive::before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: #ff0000;
	border-radius: 50%;
	right: 0;
}

.chatNotiDropdown .btn {
	padding: 6px;
	box-shadow: none;
	font-size: 16px;
	color: #ffffff;
}

.chatUserStatus {
	position: relative;
	margin-top: -25px;
}

.chatUserStatus .status {
	width: 12px;
	height: 12px;
	background-color: #28a745;
	border-radius: 50%;
	position: absolute;
	left: 35px;
	right: 0;
	margin: 0 auto;
	bottom: 67px;
}

.avatarMd {
	height: 4.5rem;
	width: 4.5rem;
}

.fontSize14 {
	font-size: 14px !important;
}

.fontSize15 {
	font-size: 15px !important;
}

.fontSize16 {
	font-size: 16px !important;
}

.fontSize18 {
	font-size: 18px !important;
}

.fontSize20 {
	font-size: 20px !important;
}

.searchBox .formControl {
	border-radius: 30px;
	padding-left: 40px;
}

.searchBox .searchIcon {
	font-size: 18px;
	position: absolute;
	left: 13px;
	top: 0;
	color: #ffffff;
	line-height: 34px;
}

.chatMessageList {
	height: calc(100vh - 346px);
}

@media (min-width: 992px) {
	.chatMessageList {
		height: calc(100vh - 700px);
	}
}

.chatList {
	margin: 0;
}

.chatListActive {
	background: #383838;
	border-radius: 0.75rem !important;
}

.chatListActive h5 {
	color: #ffffff;
}

.chatListActive p {
	color: #ffffff !important;
}

.cardBody {
	flex: none;
}

.chatListLiA {
	position: relative;
	display: block;
	padding: 12px 12px;
	color: #1a2942;
	transition: all 0.4s;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
}

.chatListLi .userImg {
	position: relative;
}

.conversationListCtextWrap::after {
	left: -11px;
	top: 0;
	border: none !important;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: var(--tz-light);
	border-width: 6px;
	margin-right: -1px;
	border-right-color: var(--tz-light);
}

.chatListLi .userImg .userStatus {
	width: 10px;
	height: 10px;
	background-color: #6c757d;
	border-radius: 50%;
	position: absolute;
	right: 3px;
	bottom: 0;
}

.chatListLi .userImgOnline .userStatus {
	background-color: #28a745;
}

.chatListLi .userImgOffline .userStatus {
	background-color: #6c757d;
}

.chatListLi .userImgAway .userStatus {
	background-color: #ffc107;
}

.chatListLiUnreadA {
	font-weight: 600;
	color: #1a2942;
}

.chatListLi .unreadMessage {
	position: absolute;
	display: inline-block;
	right: 16px;
	top: 33px;
}

.userChatNav .dropdown .navBtn {
	height: 36px;
	width: 36px;
	line-height: 36px;
	box-shadow: none;
	padding: 0;
	font-size: 16px;
	border-radius: 50%;
	color: #ffffff;
}

.dropdownMenuMd {
	width: 240px;
}

.chatConversation {
	height: calc(100vh - 300px);
}

@media (min-width: 992px) {
	.chatConversation {
		height: calc(100vh - 400px);
	}
}

.chatConversationLi {
	clear: both;
}

.chatConversation .chatDayTitle {
	position: relative;
	text-align: center;
	margin-bottom: 24px;
	border: none;
}

.chatConversation .chatDayTitle .title {
	display: inline-block;
	background-color: #ffffff;
	position: relative;
	z-index: 1;
	padding: 4px 16px;
	border-radius: 7px;
}

.chatConversation .chatDayTitle::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	right: 0;
	background-color: #1a2942;
	top: 13px;
}

.chatConversation .chatDayTitle .badge {
	font-size: 12px;
}

.chatConversation .chatAvatar {
	text-align: center;
}

.chatConversation .chatAvatar img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.chatConversation .chatAvatar .time {
	font-size: 12px;
	color: #6c757d;
	font-weight: 500;
	margin-top: 4px;
}

.chatConversation .conversationList {
	margin-bottom: 24px;
	position: relative;
}

@media (min-width: 992px) {
	.chatConversation .conversationList {
		max-width: 60%;
	}
}

.chatConversation .conversationList .ctextWrap {
	display: flex;
	margin-bottom: 20px;
}

.ctextWrapContent {
	max-width: 30vw;
	text-wrap: wrap;
}

.chatConversation .conversationList .ctextWrap .ctextWrapContent {
	padding: 15px 20px;
	background-color: #d5d8db;
	border-radius: 0px 15px 15px 15px;
	color: #000000;
	position: relative;
}

.conversationListCtextWrap {
	background: none !important;
	border-radius: 10px;
	display: inline-block;
	padding: 12px;
	position: static !important;
}

.chatConversation .conversationList .conversationName .time {
	font-size: 14px;
	bottom: 0;
	color: #6c757d;
	font-weight: 400;
}

.chatConversation .conversationList .conversationName .userName {
	color: rgba(255, 255, 255, 0.5);
}

.chatConversation .conversationList:hover .time {
	opacity: 1;
}

.chatConversation .conversationList .dropdown .dropdownToggle {
	font-size: 18px;
	padding: 4px;
	color: #ffffff;
}

@media (max-width: 575.98px) {
	.chatConversation .conversationList .dropdown .dropdownToggle {
		display: none;
	}
}

.chatConversation .conversationList .chatTime {
	font-size: 12px;
	margin-top: 4px;
	text-align: right;
	color: rgba(255, 255, 255, 0.5);
}

.chatConversation .conversationList .messageImg {
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 10px;
}

.chatConversation .conversationList .messageImg .messageImgList {
	position: relative;
}

.chatConversation .conversationList .messageImg img {
	max-width: 80px;
}

.chatConversation .right {
	display: flex;
	justify-content: flex-end;
}

.chatConversation .right .conversationList {
	text-align: right;
}

.ctextWrapContent {
	max-width: 30vw;
	text-wrap: wrap;
}

.chatConversation .right .conversationList .ctextWrap .ctextWrapContent {
	order: 2;
	background-color: #334e7b;
	text-align: right;
	border-radius: 15px 0px 15px 15px;
	color: #ffffff;
	margin-left: 0;
}

.chatConversation
	.right
	.conversationList
	.ctextWrap
	.ctextWrapContent::before {
	border: 5px solid transparent;
	border-top-color: #334e7b;
	border-left-color: #334e7b;
	left: auto;
	right: -10px;
}

.chatConversation .right .conversationList .conversationName {
	justify-content: flex-end;
}

.chatConversation .right .conversationList .conversationName .time {
	order: 1;
	margin-left: 0;
	margin-right: 8px;
	position: absolute;
	right: -58px;
	left: auto;
}

.chatConversation .right .conversationList .conversationName .userName {
	color: #1a2942;
	order: 2;
}

.chatConversation .right .conversationList .dropdown {
	order: 1;
}

.chatConversation .right .conversationList .chatAvatar {
	order: 3;
}

.inputContainer {
	position: relative;
}

.chatInput {
	width: 100%;
	padding-right: 2.5rem;
}

.emojiBtn {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.emojiPicker {
	bottom: 50px;
	right: 0;
	z-index: 1000;
}

@media (max-width: 575.98px) {
	.chatSend {
		min-width: auto;
	}
}

.chatWindow {
	min-height: calc(100vh - 220px);
	display: flex;
	flex-direction: column;
}

.noChatSelected {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.cursorPointer {
	cursor: pointer;
}

.navItemHover:hover {
	cursor: pointer;
}

.typingIndicator {
	display: flex;
	align-items: center;
	height: 1.5rem;
}

.typingIndicator p {
	margin: 0;
	padding-right: 0.5rem;
}

.typingDots {
	display: flex;
	align-items: flex-end;
}

.typingDots span {
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	margin-right: 0.2rem;
	background-color: #333;
	border-radius: 50%;
	animation: bounce 1s infinite ease-in-out;
}

.typingDots span:nth-child(1) {
	animation-delay: 0s;
}

.typingDots span:nth-child(2) {
	animation-delay: 0.2s;
}

.typingDots span:nth-child(3) {
	animation-delay: 0.4s;
}

.chatWrapContent {
	padding: 20px 27px;
	background-color: #d5d8db;
	border-radius: 0px 15px 15px 15px;
	color: #000000;
	position: absolute;
	margin-left: 3.2rem;
	bottom: 7rem;
	left: 2.5rem;
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-8px);
	}
}
