.theadStyles {
  background-color: #343a40;
  color: white;
}

.theadStyles th {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.table {
  vertical-align: middle !important;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.tableStriped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.tableStriped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.03);
}

.tableBordered {
  border: 1px solid #dee2e6;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tableBordered th,
.tableBordered td {
  border: 1px solid #dee2e6;
  padding: 15px;
  border-radius: 8px;
}

.tableBodyDesign {
  max-height: 50vh;
  overflow-y: auto;
}

.btnPrimary,
.btnSuccess,
.btnInfo,
.btnDanger {
  margin-right: 10px;
}

.btnInfo,
.btnDanger {
  margin-top: 10px;
}

.dFlexJustifyContentEndMt3 {
  margin-bottom: 20px;
}

.pdfWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.reactPdfDocument {
  width: 100%;
}

.reactPdfPage {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .reactPdfPage {
    width: 100%;
  }
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 1.2em;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.actionButton:hover {
  background-color: #0056b3;
  color: white;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionGroup{
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconEnter {
  opacity: 0;
  transform: scale(0.9);
}

.iconEnterActive {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.iconExit {
  opacity: 1;
  transform: scale(1);
}

.iconExitActive {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}
