.modalBody {
	overflow-y: auto;
	padding: 20px;
}

.moveModalBody {
	height: auto;
}

.colDesign {
	margin: 0px 5px;
	background-color: currentcolor;
	color: #ffffff;
	border-radius: 10px;
}
.barDesign {
	padding: 25px 10px 10px 10px;
	height: auto;
	overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 10px;
	cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(56, 56, 56);
}

.headerDesign {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* .boardContainer {
	padding: 1rem;
	overflow-x: auto;
	white-space: nowrap;
	background-color: #f7f9fc;
	border-radius: 8px;
} */

/* General styling for the board cards */
.boardCard {
	border-radius: 12px;
	background-color: #ffffff;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
	transition:
		transform 0.3s,
		box-shadow 0.3s;
	cursor: pointer;
	/* padding: 1.25rem; */
	border: none;
	min-height: 175.6px;
}

.boardCard:hover {
	transform: translateY(-4px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.addNewStatusCard {
	cursor: pointer;
	background-color: #f1f3f5;
	border: 2px dashed #000000;
	border-radius: 12px;
	transition:
		transform 0.3s,
		background-color 0.3s;
	/* min-height: 175.6px; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.addNewStatusCard:hover {
	background-color: #e2e6ea;
	transform: scale(1.05);
}

.addNewStatusCard .card-body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.cardBody {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.cardContent {
	flex: 1;
}

.buttonContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.boardTitle {
	font-size: 1.5rem;
	font-weight: 600;
	color: #007bff;
	margin-bottom: 0.5rem;
}

.boardDescription {
	font-size: 0.95rem;
	color: #6c757d;
	margin-bottom: 1rem;
}

.taskBoardDesign {
	overflow-x: scroll;
	width: 80vw;
}

.viewButton {
	border-radius: 20px;
	padding: 0.3rem 1.2rem;
	font-size: 0.85rem;
	color: white;
	border: none;
	outline:  1px solid white !important;
	background-color: transparent;
}

.viewButton:hover {
	border-radius: 20px;
	padding: 0.3rem 1.2rem;
	font-size: 0.85rem;
	color: black;
	border: none;
	outline:  1px solid white !important;
	background-color: white;
}

.iconButtons {
	display: flex;
	gap: 8px;
}

.editIcon,
.deleteIcon {
	font-size: 1.2rem;
	cursor: pointer;
	color: #6c757d;
	transition: color 0.3s;
}

.descriptionBtn {
	background-color: #091e420f;
    color: black;
    width: 100%;
    text-decoration: none;
    outline: none;
    border: none;
    text-align: left;
    padding: 30px 20px;
    border-radius: 5px;
	margin-bottom: 10px;
}

.descriptionBtn:hover {
	background-color: #031c431a;
	color: black;
}

.editIcon:hover {
	color: #007bff;
}

.deleteIcon:hover {
	color: #dc3545;
}

/* Add New Board card */
.addNewBoardCard {
	cursor: pointer;
	background-color: #f1f3f5;
	border: 2px dashed #007bff;
	border-radius: 12px;
	transition:
		transform 0.3s,
		background-color 0.3s;
	min-height: 175.6px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.addNewBoardCard:hover {
	background-color: #e2e6ea;
	transform: scale(1.05);
}

.addNewBoardCard .card-body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.overlayStyle {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: 'rgba(0, 0, 0, 0.5)';
	z-index: 999;
}
