/* LeadList.module.css */

.customTabs {
    margin: 0px 0px 20px 0px;
}

.navLink {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    color: #495057;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navLinkHover,
.navLinkActive {
    background-color: #1a2942;
    color: #fff;
}

.navLinkIcon {
    margin-right: 8px;
}

.navItem + .navItem {
    margin-left: 10px;
}
