.leadDetailsContainer {
    max-width: 1200px;
}

.printContainer {
    padding: 20px;
}

.detailTitle {
    border-bottom: 2px solid #343a40;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.table {
    margin-bottom: 20px;
}

.tableBordered th,
.tableBordered td {
    border: 1px solid #dee2e6;
}

.fontWeightBold {
    font-weight: 600 !important;
}

.dFlexJustifyContentEndMb4 {
    margin-top: 20px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardBody {
    background-color: #ffffff;
    border-radius: 10px;
}

.cardTitle {
    font-size: 1.5rem;
    color: #343a40;
}

.textMuted {
    color: #6c757d !important;
}
