.leadDetailsContainer {
    max-width: 1200px;
    margin: auto;
}

.printContainer {
    padding: 20px;
}

.detailTitle {
    border-bottom: 2px solid #343a40;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.styleStatus {
    padding: 5px;
    font-size: 0.8rem;
    animation: blink 1.5s infinite;
}

.table {
    margin-bottom: 20px;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
    vertical-align: middle;
}

.fontWeightBold {
    font-weight: 600 !important;
}

.dFlexJustifyContentEndMb4 {
    margin-top: 20px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardBody {
    background-color: #ffffff;
    border-radius: 10px;
}

.cardTitle {
    font-size: 1.5rem;
    color: #343a40;
}

.textMuted {
    color: #6c757d !important;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.table tbody tr td {
    padding: 10px;
}

.table tbody tr td:first-child {
    width: 30%;
    font-weight: bold;
}

.table tbody tr td:last-child {
    width: 70%;
}
